<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Planner</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="dashboard-container">

    <div class="header">
        <h1>즐겨찾기</h1>
        <p class="date-time" id="date-time"></p>
    </div>

    <div class="weather">
        <div id="weather-data" style="display: flex; justify-content: space-around;">날씨 정보를 불러오는 중...</div>
    </div>

    <div class="cards" id="cards">
        <!-- Tour Cards will be dynamically added here -->
        <a href="#" class="card new-card" id="new-planner-btn">
            <h2>NEW ➕</h2>
        </a>
    </div>
    <div id="plannerCardContainer">
        <!-- 새로운 플래너 카드들이 여기에 추가됩니다 -->
    </div>
    <div class="planner-card" data-id="plannerId"></div>
   <!-- <button onclick="deletePlannerCard(1)">삭제</button> -->
</div>

<script src="../js/script.js"></script>

<script>
    // 날짜 업데이트
    function updateDateTime() {
        const days = ["일", "월", "화", "수", "목", "금", "토"];
        const months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];

        const now = new Date();
        const day = days[now.getDay()];
        const date = now.getDate();
        const month = months[now.getMonth()];
        const year = now.getFullYear();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');

        document.getElementById("date-time").innerText = `${year}년 ${month} ${date}일 (${day}) ${hours}:${minutes}`;
    }

    // 시간 업데이트
    updateDateTime();
    setInterval(updateDateTime, 60000);
</script>

</body>
</html>
