<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Route Finder</title>
    <link rel="stylesheet" href="/css/map.css">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zf3b8gnmu2" defer></script>
</head>
<body>
<!-- 왼쪽 메뉴 -->
<div class="sidebar">
    <h3>MY TOUR LIST</h3>
    <ul id="tourList">
        <!-- 클릭된 관광지 이름이 여기에 추가됨 -->
    </ul>
    <h3>계획 메모</h3>
    <textarea id="memo" placeholder="메모를 입력하세요..."></textarea>
    <button id="saveMemoBtn">작성 완료</button>
</div>

<div id="form-container" class="form-container">
    <h1 class="centered-text">경로 찾기</h1>
    <form id="routeForm">
        <label for="start" class="hidden-element">출발지:</label>
        <input type="text" id="start" class="hidden-element" placeholder="출발지 (경도,위도)" required>
        <br>
        <label for="goal" class="hidden-element">목적지:</label>
        <input type="text" id="goal" class="hidden-element" placeholder="목적지 (경도,위도)" required>
        <br>
        <button type="submit" class="hidden-element">경로 찾기</button>
    </form>
</div>

<div id="options-buttons" class="options-buttons hidden-element">
    <button data-option="trafast">실시간 빠른 길</button>
    <button data-option="tracomfort">실시간 편한 길</button>
    <button data-option="traoptimal">실시간 최적</button>
    <button data-option="traavoidtoll">무료 우선</button>
    <button data-option="traavoidcaronly">자동차 전용 도로 회피 우선</button>
</div>

<div id="map" style="width: 100%; height: 500px; margin-top: 20px;"></div>

<div class="button-container">
    <button id="backToHome">처음으로</button>
</div>

<div id="routeDisplay"></div>

<script src="/js/map.js"></script>
</body>
</html>
