<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관광지 선택</title>
    <link rel="stylesheet" href="../css/Themaselect.css">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zf3b8gnmu2"></script>
    <link rel="stylesheet" href="../static/css/Themaselect.css">
</head>
<body>
<div class="container">
    <!-- 왼쪽 메뉴 -->
    <div class="sidebar">
        <h3>MY TOUR LIST</h3>
        <ul id="tourList">
            <!-- 클릭된 관광지 이름이 여기에 추가됨 -->
        </ul>
        <h3>계획 메모</h3>
        <textarea id="memo" placeholder="메모를 입력하세요..."></textarea>
        <button id="backBtn">작성 완료</button>
    </div>
    <!-- 지도 섹션 -->
    <div class="map-container">
        <h3>관광지 지도</h3>
        <div class="dropdown-container">
            <button class="dropdown-button" onclick="toggleDropdown()">
                <span id="selectedTheme">모든 테마</span>
                <i class="bx bx-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" id="dropdownMenu">
                <li class="dropdown-item" onclick="selectTheme('', '모든 테마')">
                    <img src="/static/images/all.png" alt="모든 테마" class="dropdown-icon"> 모든 테마
                </li>
                <li class="dropdown-item" onclick="selectTheme('문화 관광', '문화 관광')">
                    <img src="../static/images/traditional.png" alt="문화 관광" class="dropdown-icon"> 문화 관광
                </li>
                <li class="dropdown-item" onclick="selectTheme('실내', '실내')">
                    <img src="../static/images/indoor.png" alt="실내" class="dropdown-icon"> 실내
                </li>
                <li class="dropdown-item" onclick="selectTheme('전통/문화 거리', '전통/문화 거리')">
                    <img src="../static/images/culture.png" alt="전통/문화 거리" class="dropdown-icon"> 전통/문화 거리
                </li>
            </ul>
        </div>

        <div id="map"></div>
        <div class="button-container">
            <button id="backBtnBelow" onclick="goBack()">뒤로가기</button>
            <button id="completeBtn" onclick="completeTour()">완료</button>
        </div>
    </div>
</div>
<script src="../static/js/themeSelector.js"></script>
</body>
</html>
